.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }
.mt5 { margin-top: 5rem; }
.mt6 { margin-top: 6rem; }
.mt7 { margin-top: 7rem; }
.mt8 { margin-top: 8rem; }
.mt9 { margin-top: 9rem; }
.mt10 { margin-top: 10rem; }
.red { background: $red; color: white; }
.img-round { border-radius: 50% 50%; }
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
