@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700|Open+Sans:400,600,700,300&subset=latin,latin-ext');

$lightgrey: #f5f5f5;
$darkgrey: #a4a4a4;
$red: #D54844;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Source Sans Pro', sans-serif;
